.meals {
    margin: 2rem auto;
    width: 90%;
    max-width: 56rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 17px;
    border-bottom: 1px solid #ccc;
  }
  
  .meals ul {
    list-style: none;
    padding: 1rem;
    
  }
  
